NVOIP_BASE_URL=https://api.nvoip.com.br/v2
NVOIP_NUMBERSIP=
NVOIP_USER_TOKEN=
NVOIP_NAPIKEY=
NVOIP_ACCESS_TOKEN=
NVOIP_CALLER=
NVOIP_TARGET_NUMBER=11999999999
NVOIP_SMS_MESSAGE=Mensagem de teste Nvoip
NVOIP_AUDIO_MESSAGE=Sua mensagem de voz aqui
